<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1 class="title">Olvidó su Contraseña?</h1>
                <hr style="width: 100%; border-top: 1px solid #ad3f3f;">
            </div>
            <div class="wrap">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: "devise_form", method: :post }) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true %>
              </div>

              <div class="actions">
                <%= f.submit "Enviar" %>
              </div>
            <% end %>
            </div>
        </div>
    </div>
</div>


